* {
    box-sizing: border-box;
  }

.wrapper{
display: flex;
}

.header{
    display:flex;
    justify-content: space-between;
    height: 20%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    color: black;
}
.header .login{
    display: block;
    align-self: center;
    font-family: monospace;
    margin-right: 5%;
    color: rgb(0, 0, 0);

}
.header .loginbtn{
    background-color: rgb(0, 0, 0); 
    border: 1px solid rgb(0, 0, 0);
    color: white;
    margin-top: 2%;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    display: block;
}

.header .headerText{
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-family: monospace;
    font-size: 30px;
}


/* Style the side navigation */
.sidenav {
    margin-top: 10%;
    height: 85%;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    color: white;
}

.btn-group .button {
    background-color: rgb(0, 0, 0); 
    border: 1px solid rgb(0, 0, 0);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    display: block;
}

.btn-group .button:hover {
    background-color: #86868681;
}
.btn-group .userName{
    background-color: rgb(0, 0, 0); 
    border: 1px solid rgb(0, 0, 0);
    color: rgb(18, 228, 193);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    width: 150px;
    display: block;
}

.logoutButton{
    background-color: rgb(0, 0, 0); 
    border: 1px solid rgb(0, 0, 0);
    color: white;
    margin-top: 30%;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    display: block;
}

.rendered-content{

    height: 100%;
    width: 90%;
    margin-top: 20%;
    margin-left: 10%;
    padding-left: 2%;
    color: black;
}

  .movieImage{
      margin-left: 10px;
      width: 150px;
      height: 100px;
  }
  .createdDiv{
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      margin-bottom: 5%;
      padding-bottom: 1%;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .buttonDiv{
    background-color: rgba(14, 105, 101, 0.74); 
    border: 1px solid rgb(0, 0, 0);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    display: block;
  }
